<style>
    .newproduct-container {
        margin-top: 64px !important;
        max-width: 360px;
        margin: auto;
        padding: 32px;
        border-radius: 0.5em;
        color: #fff;
        border: 1px solid #666;
    }

    .a2 {
        color: #e1e1e1;
    }

    .a2:hover {
        color: #fff;
    }
</style>

<div class="newproduct-container">
    <h1><b>CODERStore</b></h1>
    <h2><b>Carga de nuevo producto</b></h2>

    {{!-- Ejemplo de formulario multipart para envío de archivos junto a los campos de texto --}}
    <form action="/api/products" method="post" enctype="multipart/form-data">
        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <span class="input-group-text" id="group2"><i class="fa-solid fa-lock"></i></span>
            <input type="text" name="name" class="form-control" placeholder="Nombre" required="required" autofocus="autofocus">
        </div>

        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <span class="input-group-text" id="group2"><i class="fa-solid fa-lock"></i></span>
            <input type="text" name="price" class="form-control" placeholder="Precio" required="required">
        </div>

        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <span class="input-group-text" id="group2"><i class="fa-solid fa-lock"></i></span>
            <input type="text" name="stock" class="form-control" placeholder="Stock" required="required">
        </div>

        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <span class="input-group-text" id="group2"><i class="fa-solid fa-lock"></i></span>
            <input type="file" name="thumbnail" class="form-control" multiple>
        </div>
            
        <button type="submit" class="btn btn-success">Cargar</button>
    </form>
</div>
