<div>
    <h1><b>CODERStore</b></h1>
    <h2><b>Perfil de usuario</b></h2>
    
    <h2>Usuario: {{firstName}}, {{lastName}}</h2>
</div>

<form action="/api/users/logout" method="get">
    <button type="submit" class="btn btn-success">Salir</button>
</form>
