{{!-- Aunque lógicamente no es lo más habitual, también podemos servir un contenido
estático mediante Handlebars, en este caso el frm de registro no tiene ninguna
variable a reemplazar --}}

<h1>Formulario de registro</h1>

<div>
    <form action="/api/users" method="post">
        <input type="text" id="firstName" name="firstName">
        <br />
        <input type="text" id="lastName" name="lastName">
        <br />
        <input type="text" id="email" name="email">
        <br />
        <input type="password" id="password" name="password">
        <br />
        <button type="submit">Enviar</button>
    </form>
</div>
